/* This is a style sheet for my about me page */

#header {
	font-size: 42px;
	color: #2b76ef;
	font-weight: bold;
	margin-left: 15%;
	margin-right: 15%;

}

body {
	background-color: #d7dde0;
	color: black;
	font-family: "Avenir";
	margin-left: 15%;
	margin-right: 15%;
}

#image {
	align-content: center;
}